<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Extension.FieldType">
          <targetDataStore physicalRootPath="[Replace with Solution path]\src\Foundation\Extension\Sitecore.Foundation.Extension.FieldType\App_Data\Unicorn\$(configurationName)" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
          <predicate>
            <include name="Static Options List" database="core" path="/sitecore/system/Field types/List Types/Static Options List" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
